/* Master styles */

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation styles */

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.navigation-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navigation-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.navigation-link-wrapper a:hover {
    color: black;
}

.active-navigation-link {
    border-bottom: 1px solid black;
}

.active-navigation-link a {
    color: black !important;
}

/* Home styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-image-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 70%;
    margin-bottom: 20px;
}

.image-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 1000;
}

.image-text-wrapper:hover .subtitle {
    font-weight: 1000;
    color: lightseagreen;
}

.image-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About page styles */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    height: 450px;
    width: 100%;
}

.profile-content-wrapper {
    text-align: center;
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

/* Styles for List pages */

.list-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
}

.list-page-wrapper h2{
    color: lightseagreen;
    text-align: left;
    padding: 30px;
}

.posts-list {
    width: 70%;
    padding-left: 15%;
}

.post-link {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    height: 22px;
}
.post-link a {
    color: #757171;
    text-decoration: none;
    transition: color 0.5s;
}

.post-link a:hover {
    color: black;
}

/* Styles for posts pages */

.post-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
}

.post-content {
    width: 70%;
    padding-left: 15%;
}

.post-content h1{
    color: lightseagreen;
}

.post-content h2 {
    color: lightseagreen;
}

.post-content img {
    height: 350px;
    padding: 20px;
}

span {
    color: lightseagreen;
  }













/* Mobile optimisation */

@media screen and (max-width: 780px) {

/* Navigation styles */

.navigation-wrapper {
    padding: 8px;
}

.left-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 8px;
}


.navigation-wrapper > .left-side > div {
    margin-bottom: 20px;
    font-size: 1em;
}

.navigation-link-wrapper {
    height: 20px;
    padding-top: 10px;
    padding-left: 5px;
}

.active-navigation-link {
    border-bottom: transparent;
}

.active-navigation-link a {
    color: black !important;
}

.riht-side {
    display: none;
}

/* Home styles */

.portfolio-items-wrapper {
    grid-template-columns: 1fr;
}

.portfolio-image-background {
    filter: brightness(60%);
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 10px;
}

.image-text-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.image-text-wrapper .subtitle {
    color: lightseagreen;
    font-weight: 1000;
}

/* About page styles */

.two-column-wrapper {
    grid-template-columns: 1fr;
}

.profile-image-wrapper img {
    height: 300px;
}

.profile-content-wrapper {
    padding: 8px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

/* Styles for List pages */

.list-page-wrapper {
    padding: 10px;
}

.posts-list {
    width: 100%;
    padding: 5px;
}

.list-page-wrapper h2{
    padding: 10px;
}

.posts-list {
    padding:10px;
}

.post-link {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}
.post-link a {
    color: rgb(61, 147, 144);
    text-decoration: none;
}

/* Styles for posts pages */

.post-wrapper {
    padding: 10px;
}

.post-content {
    width: 100%;
    padding: 10px;
}

.post-content img {
    height: 200px;
    padding: 5px;
}

}









/* Styles for large screen */

@media screen and (min-width: 1550px) {

/* Home styles */

.portfolio-image-background {
    height: 450px;
}

/* About page styles */

.profile-image-wrapper img {
    height: 600px;
}

/* Posts pages styles */

.post-content img {
    height: 500px;
}

}









/* Styles for extra large screen */

@media screen and (min-width: 2300px) {

    /* Home styles */
    
.portfolio-image-background {
    height: 550px;
}

/* About page styles */

.profile-image-wrapper img {
    height: 800px;
}

/* Posts pages styles */

.post-content img {
    height: 600px;
}
    
}