/* Master styles */

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif
    
}

.container {
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
}



/* Navigation styles */

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    background: rgb(39, 39, 39);
}


.right-side {
    display: flex;
}

.navigation-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
}


.navigation-wrapper > .left-side > div a{
    position: relative;
    font-weight: 1900;
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bolder;
}

.navigation-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link-wrapper a {
    color: #a9a9a9;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link-wrapper:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.navigation-link-wrapper a:hover {
    color: rgb(255, 255, 255);
}

.active-navigation-link {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.active-navigation-link a {
    color: rgb(255, 255, 255) !important;
}

/* Home styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-image-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 70%;
    margin-bottom: 20px;
}

.image-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 1000;
}

.image-text-wrapper:hover .subtitle {
    font-weight: 1000;
    color: #4facfe;
}

.image-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About and Contact page styles */

.profile-image-wrapper img {
    height: 400px;
    width: 100%;
    
}

.profile-content-wrapper {
    text-align: center;
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: #4facfe;
}

.profile-link-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 22px;
}

.profile-link-wrapper a {
    color: #757171;
    text-decoration: none;
    transition: color 0.5s;
}

.profile-link-wrapper a:hover {
    color: #4facfe;
}

/* Styles for List pages */

.list-page-wrapper {
    padding: 30px;
    background-color: #fefefe;
}

.posts-list {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.post {
    padding: 10px;
    background-color: white;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    margin: 10px;

}

.post_title {
    color: #4facfe;
}

.post_text {
    margin-bottom: 5px;
    color: #000000b3;
}

.post_cta {
    display: inline-block;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffff;
    border-radius: 8px;
    text-decoration: none;
    background: linear-gradient(to right, #c945cf 0%, #04a6bd 100%);
}

.post_cta:hover {
    background: linear-gradient(to right, #04a6bd 0%, #c945cf 100%);
}


/* Styles for posts pages */

.post-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}


.post-content {
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}


.post-content h1{
    color: #4facfe;
}

.post-content h2 {
    color: #4facfe;
}

.post-content img {
    height: 350px;
    padding: 20px;
}














/* Mobile optimisation */

@media screen and (max-width: 780px) {

/* Navigation styles */

.navigation-wrapper {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr;
}

.right-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.navigation-wrapper > .right-side > div {
    font-size: 1em;
}

.navigation-wrapper > .left-side > div {
    padding-bottom: 10px;
}

.navigation-link-wrapper {
    height: 20px;
    padding-top: 10px;
    padding-left: 5px;
}

.navigation-link-wrapper:hover {
    border-bottom: 1px transparent;
}

.active-navigation-link {
    border-bottom: transparent;
}


/* Home styles */

.portfolio-items-wrapper {
    grid-template-columns: 1fr;
}

.portfolio-image-background {
    filter: brightness(60%);
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 10px;
}

.image-text-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.image-text-wrapper .subtitle {
    color: #4facfe;
    font-weight: 1000;
}

/* About page styles */

.two-column-wrapper {
    grid-template-columns: 1fr;
}

.profile-image-wrapper img {
    height: 180px;
}

.profile-content-wrapper {
    padding: 8px;
}

.profile-content-wrapper h1 {
    color: #4facfe;
}

.profile-link-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-link-wrapper a {
    color: lightseagreen;
    text-decoration: none;
}


/* Styles for List pages */

.content-wrapper {
    width: 100%;
}

.list-page-wrapper {
    padding: 10px;
}

.posts-list {
    padding: 15px;
    grid-template-columns: 1fr;
}


/* Styles for posts pages */
.post-wrapper{
    width: 100%;
}

.post-content {
    padding: 10px;
}

.post-content img {
    height: 200px;
    padding: 5px;
}

}









/* Styles for large screen */

@media screen and (min-width: 1550px) {

/* Home styles */

.portfolio-image-background {
    height: 450px;
}

/* About page styles */

.profile-image-wrapper img {
    height: 800px;
}

/* Styles for List pages */

.list-page-wrapper {
    padding: 50px;
}

.posts-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Posts pages styles */

.post-content img {
    height: 500px;
}

}









/* Styles for extra large screen */

@media screen and (min-width: 2300px) {

    /* Home styles */
    
.portfolio-image-background {
    height: 550px;
}

/* About page styles */

.profile-image-wrapper img {
    height: 1000px;
}

/* Posts pages styles */

.post-content img {
    height: 600px;
}
    
}